.containerHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.buttonDes{
    background-color: brown;
    color:white;
    padding: 10px;
    border: 0px;
    font-weight: bolder;
    cursor: pointer;
}
.buttonDes:hover{
    background-color: rgb(92, 20, 20);
    
}

