<div class="loginContainer">
    
    <div class="backgroundFilter">
        <div class="containerForm">
                <div class="titleLogin">
                    <img src="assets/logo.png" alt="">
                    <div>
                    <h2>BIENVENIDO</h2>
                    <p>Inicia sesión para acceder a tu cuenta, revisar pedidos y encontrar los mejores equipos informáticos del mercado.</p>
                    </div>
                    
                </div>
                <form class="formulario" action="">
                    <h1>Login</h1>
                    <div class="inputLogin">
                        <label for="username">Username</label>
                        <input type="text" id="username" placeholder="username">
                    </div>
                    <div class="inputLogin">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="password">
                    </div>

                    <button class="buttonLogin">Login</button>
                    <p>¿Todavia no tienes cuenta? <a href="">Registrate</a></p>
                </form>
        </div>
    </div>
    
    
</div>
