<div class="loginContainer">
    
    <div class="backgroundFilter">
        <img class="logo" src="assets/logo.png" alt="">
        <div class="containerForm">
                
                
                <div class="titleLogin">
                    
                    <div>
                    <h2>BIENVENIDO</h2>
                    <p>trabajamos cada día para ofrecerte lo último en tecnología, componentes de alto rendimiento, ordenadores personalizados y soluciones informáticas para todos los niveles: desde el entusiasta del hardware hasta el profesional de TI.
Inicia sesión para acceder a tu cuenta personal, consultar tu historial de compras, realizar pedidos con facilidad y disfrutar de ofertas exclusivas solo para miembros registrados.
Nuestro equipo selecciona cuidadosamente cada producto para garantizar calidad, compatibilidad y alto rendimiento. Ya sea que busques mejorar tu estación de trabajo, montar el PC gaming de tus sueños o simplemente renovar tus periféricos, aquí lo tienes todo.</p>
                    </div>
                    
                </div>
                <form class="formulario" action="">
                    <h1>Login</h1>
                    <div class="inputLogin">
                        <label for="username">Username</label>
                        <input type="text" id="username" [(ngModel)]="username"  name="username" placeholder="username">
                    </div>
                    <div class="inputLogin">
                        <label for="password">Password</label>
                        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="password">
                    </div>

                    <button (click)="addUser()" class="buttonLogin">Login</button>
                    <p>¿Todavia no tienes cuenta? <a href="/register">Registrate</a></p>
                </form>
        </div>
    </div>
    
    
</div>
